@import "variables";

.wrap {
  background: $main;
  border-bottom: 1px solid darken($main, 20%);
  color: $text;
  display: flex;
  align-items: center;
  padding: 2em;

  > * {
    margin-right: 2em;
  }
}

.score {
  position: relative;
  font-weight: bold;
}

.scoreDiff {
  position: absolute;
  right: 0;
  color: rgb(36, 245, 17);
}
